.chuckText {
  font-size: 0.5rem;
}
.jokeBox {
  color: hotpink;
}
.jokeBtn {
  width: 10rem;
  height: 5rem;
  background-color: black;
  color: hotpink;
  padding: 1rem red;
  border: 0.2rem solid white;
}
.jokeBtn:hover {
  color: black;
  background-color: hotpink;
  cursor: url("../img/chuckNorrisIcon.png"), auto;
}
.chuckNorris {
  cursor: url("../img/chuckNorrisIcon.png"), auto;
}
.mpopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: url("../img/chuckNorrisIcon.png"), auto;
}
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  height: 30rem;
  width: 45rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.3rem;
}
.modal-header {
  padding: 2px 12px;
  background-color: hotpink;
  color: #333;
  border-bottom: 4px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header h2 {
  font-size: 5rem;
  margin-top: 14px;
  margin-bottom: 14px;
}
.modal-body {
  padding: 0.2rem 1rem;
}
.modal-footer {
  padding: 1rem;
  background-color: hotpink;
  color: #333;
  border-top: 0.2rem solid #e9ecef;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
}

.close {
  color: black;
  width: 5rem;
  float: right;
  font-size: 5rem;
  border: 0.3rem solid white;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: white;
  background: hotpink;
  text-decoration: none;
  border: 5px solid black;
  cursor: pointer;
}

/* add animation effects */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
