.addTodo {
  align-items: center;
  background-color: hotpink;
  width: 80%;
  height: auto;
  font-size: 1rem;
  font-weight: 900;
  margin: auto;
  font-weight: 900;
  color: black;
  text-align: center;
  margin-top: 1rem;
  border: 0.4rem solid black;
  overflow-y: scroll;
}
#tasks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0.5rem;
  gap: 1rem;
}
#tasks div {
  border: 0.3rem solid black;
  background-color: 2eede;
  border-radius: 0.7rem;
  padding: 0.3rem;
  font-weight: 700;
  display: grid;
  margin-bottom: 1rem;
}
#todos div .options i {
  cursor: pointer;
}
#msg {
  color: red;
  font-size: 2rem;
}
.add-todo-title {
  color: black;
  font-size: 4rem;
  font-weight: 900;
  margin-top: 0.5rem;
  height: 7.5rem;
  width: 50rem;
  background-color: hotpink;
  border: 0.2rem solid black;
}
.add-todo-title:hover {
  color: hotpink;
  background-color: black;
  cursor: pointer;
}
.hover:hover {
  background-color: black;
  cursor: pointer;
  color: hotpink;
}
.todo-task {
  max-width: 15rem;
  max-height: 15;
  word-wrap: break-word;
}
.purple {
  color: purple;
  font-weight: 900;
}
.add-button {
  background-color: hotpink;
  font-size: 2.5rem;
  font-weight: 900;
  height: 5rem;
  width: 8rem;
  color: black;
  border-color: hotpink;
}
.add-button:hover {
  background-color: black;
  color: hotpink;
  border: 0.2rem solid hotpink;
}
.title {
  background-color: black;
  color: hotpink;
  font-size: 2rem;
}
.modal-body {
  background-color: black;
}
.form-control {
  background-color: hotpink;
  color: black;
}
.form-control:focus {
  font-size: 2rem;
  background-color: black;
  color: hotpink;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 2rem;
}
.modal-footer {
  background-color: black;
}
.modal-header {
  color: black;
  background-color: hotpink;
}
